<?php
echo do_shortcode('[cminds_free_registration id="cmcr"]');
?>

<div class="clear"></div>

<style type="text/css">
    #cm-custom-reports-settings-form table {border-spacing:0; width: 100%;}
    #cm-custom-reports-settings-form tr td, #cm-custom-reports-settings-form tr th {padding:10px; border-bottom: solid 1px #f0f0f0; width: 30%;}
    #cm-custom-reports-settings-form tr th[colspan] {width: 100% !important;}
    #cm-custom-reports-settings-form table td input[type=text] {width: 90%; min-width: 100px; max-width: 300px;}
    #cm-custom-reports-settings-form table th {padding-left: 20px; font-weight: normal; text-align: right; vertical-align: top;}
    #cm-custom-reports-settings-form table td {vertical-align: top;}
    #cm-custom-reports-settings-form caption {color: #222; font: 600 1.3em verdana; margin: 1em 0; text-align: left;}
    #cm-custom-reports-settings-form tr:last-child td, #cm-custom-reports-settings-form tr:last-child th {border-bottom: none}
    textarea.cma-custom-css {min-width: 300px; max-width: 840px; width: 70%; height: 200px;}
    #cm-custom-reports-settings-form .tg-table-plain td, #cm-custom-reports-settings-form .tg-table-plain th { border: 1px #555 solid; padding: 5px;border-collapse: collapse;text-align: center;vertical-align: middle; }
    #cm-custom-reports-settings-form .tab-content ul {list-style: circle; margin: 1em 0 1em 30px;}
    #cm-custom-reports-settings-form td ul, #cm-custom-reports-settings-form td li {margin-top: 0 !important; padding: 0; list-style: disc;}
    .server-info-table td:nth-child(3) {}
    .server-info-table span {color: green; font-weight: bold;}
    .server-info-table strong {color: red; font-weight: bold;}
    h4 {font-weight: bold; margin: 2em 0 0.3em 0;}
    #authorsAutoApprovedResults {list-style: none; margin: 0 0 0 100px !important; margin-top: -14px; border:solid 1px #ccc; padding:5px !important; width:190px; display: none;}
    #authorsAutoApprovedResults li {list-style: none !important; margin: 0; padding: 0;}
    #authorsAutoApprovedSearch {width: 200px;}
    .cma-frontend-link {font-size: 120%;}
    .cma-warning {border: 1px solid #dddddd; border-left: 4px solid #ff9900; padding: 1em; font-size: 90%; margin: 1em 0;}

</style>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#tabs').tabs();
        jQuery('#tabs ul[role=tablist] a').click(function () {
            location.hash = this.href.substr(this.href.lastIndexOf('#') + 1, this.href.length).replace(/_/g, '-');
            this.blur();
        });
        jQuery('#tabs ul[role=tablist] a[href="' + location.hash.replace(/\-/g, '_') + '"]').click();
    });
</script>