html {
    margin-top: 0 !important;
}

html #wpadminbar {
    display: none !important;
}

html, body {
    /* height: 100%; */
    font-family: "proxima-nova",sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    /* padding: 50px; */
    /* position: relative; */
}

.page-template-login-page #masthead {
    display: none;
}

.desktop { display: block !important; }
.mobile { display: none !important; } 

#content {
    position: relative;
}

#page {
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    
    /*
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    */
}

.azure-button {
    border: none!important;
    display: block;
    width: 100% !important;
    line-height: 1em!important;
    padding: 16px 0px!important;
    text-align: center;
    text-transform: none!important;
    font-weight: 400!important;
    overflow: hidden;
    position: relative;
    -moz-border-radius: 4px!important;
    -webkit-border-radius: 4px!important;
    border-radius: 4px!important;
    border-top: 1px solid transparent!important;
    border-bottom: 2px solid rgba(0,0,0,.1)!important;
    vertical-align: middle!important;
    height: auto!important;
    font-size: 15px;
    cursor: pointer!important;
    box-shadow: none;
    text-shadow: none;
    font-family: inherit;
    outline: 0!important;
    margin: 10px 0px 30px 0px;
    opacity: 1;
    -webkit-appearance: none;
    display: inline-block!important;
    width: 100%!important;
    background: #3ba1da;
    color: #ffffff;
    text-decoration: none;
}

.azure-button:visited {
    color: #ffffff;
}

.um-col-alt-b {
    padding-top: 0px;
}

.um-7.um input[type=submit].um-button, 
.um-7.um input[type=submit].um-button:focus, 
.um-7.um a.um-button, 
.um-7.um a.um-button.um-disabled:hover, 
.um-7.um a.um-button.um-disabled:focus, 
.um-7.um a.um-button.um-disabled:active {
    width: 100% !important;
}

.panel-container {
    max-width: 600px;
    margin: auto;
    background-color: RGBA(0,0,0,0.5);
    padding: 30px;
    border: 0px solid;
    border-radius: 15px;
}

.login-logo {
    text-align: center;
    max-width: 150px;
    margin: auto;
}

.clearfix { clear:both; }

.ease {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

/********************/
/****** HEADER ******/
/********************/

.site-header {
    position: relative;
    margin-bottom: 15px;
    min-height: 200px;
}

.site-branding {
    display: inline-block;
    vertical-align: top;
}

.site-branding a {
    max-height: 200px;
    display: block;
}

.site-branding img {
    max-width: 200px;
    width: 100%;
}

.site-title {
    display: none;
}

.main-navigation {
    position: absolute;
    top: 0;
    right: 0;
    display: inline;
    float: none;
    max-width: 60%;
    width: 100%;
    text-align: right;
}

.main-navigation a {
    color: #000;
}

.main-navigation.open {
    right: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.main-navigation .profile-btn {
    float: right;
}

.main-navigation .search-btn,
.main-navigation .profile-btn {
    display: inline-block;
    padding: 15px;
    vertical-align: top;
    cursor: pointer;
}

.main-navigation .menu-btn {
    color: #5F6F81;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    padding: 17px 15px 13px 15px;
    z-index: 9999;
    margin: 0;
    display: inline-block !important;
    border: none;
    vertical-align: bottom;
    
    background: transparent;
    width: 50px;
    height: 50px;
}

.main-navigation ul ul.toggled-on {
    /* display: block !important; */
}

.main-navigation .menu-toggle, 
.main-navigation.toggled ul {
    display: inline-block !important;
}

.main-navigation .menu-btn:focus, 
.main-navigation .menu-btn:hover {
    /* 
    outline: 0;
    outline-offset: inherit;
    background: 0 0;
    */
}

.main-navigation .menu-btn .icon-bar {
    background-color: #000 !important;
    display: block;
    width: 20px;
    height: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5px;

    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.main-navigation.open .menu-btn {
    padding: 18px 15px 12px 15px;
}

.main-navigation.open .menu-btn > div > ul {
    display: block;
}

.main-navigation.open .menu-btn .icon-bar {
    background-color: #000 !important;
}

.main-navigation.open .menu-btn .icon-bar:nth-child(1) {
    -webkit-transform: translate(0,2px) rotate(-45deg) scalex(1.3);
    -moz-transform: translate(0,2px) rotate(-45deg) scalex(1.3);
    -ms-transform: translate(0,2px) rotate(-45deg) scalex(1.3);
    -o-transform: translate(0,2px) rotate(-45deg) scalex(1.3);
    transform: translate(0,2px) rotate(-45deg) scalex(1.3);
}

.main-navigation.open .menu-btn .icon-bar:nth-child(2) {
    display: none;
}

.main-navigation.open .menu-btn .icon-bar:nth-child(3) {
    -webkit-transform: translate(0,-4px) rotate(45deg) scalex(1.3);
    -moz-transform: translate(0,-4px) rotate(45deg) scalex(1.3);
    -ms-transform: translate(0,-4px) rotate(45deg) scalex(1.3);
    -o-transform: translate(0,-4px) rotate(45deg) scalex(1.3);
    transform: translate(0,-4px) rotate(45deg) scalex(1.3);
}

.main-navigation .menu-full {
    background: transparent;
    background-position: center;
    border-radius: 50px;
    display: inline-block;
    padding: 0 15px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    float: right;
    margin-bottom: 10px;
}

.main-navigation.open .menu-full {
    background: #e6e6e6;
    margin-left: 20px;
}

.main-navigation.open .menu-full li:last-child {
    right: 0;
}

.main-navigation .menu-full li {
    float: none;
    display: none;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 10px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.main-navigation .menu-full li a {
    color: #222;
}

.main-navigation.open .menu-full li {
    display: inline-block;
}

.main-navigation .menu-full li:last-child {
    margin: 0;
    display: inline-block;
    margin-right: -30px;
}

.main-navigation.open .menu-full li:last-child {
    margin-left: 10px;
    margin-right: 0;
}

/********************/
/****** SEARCH ******/
/********************/

.site-search {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    opacity: 1;
    color: #000;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    text-align: right;
    pointer-events: auto;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    position: relative;
    float: right;
}

.search-btn {
    display: none !important;
}

.search-form {
    display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
}

.search-form .search-field {
    border: none;
    font-size: inherit;
    position: relative;
    outline: none;
    font-weight: 100;
}

.search-form .search-submit {
    display: none;
}

.wp_autosearch_form_wrapper {
    border: none !important;
}

.wp_autosearch_form_wrapper button {
    display: none !important;
}

.wp_autosearch_form_wrapper input {
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    text-align: inherit;
}

.wp_autosearch_input {
    padding: 20px 50px 20px 20px !important;
    background-color: transparent;
    border-radius: 50px !important;
    width: 60% !important;
    float: right !important;
    position: relative;
    
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.wp_autosearch_form_wrapper:before {
    content: "\f002";
    font-family: FontAwesome;
    right: 20px;
    position: absolute;
    font-size: 15px;
    z-index: 99;
    top: 13px;
}

.wp_autosearch_input:focus {
    border: 1px solid #222000 !important;
    width: 100% !important;
}

.wp_autosearch_input:focus::-webkit-input-placeholder {
    color: #ccc !important;   
}

.wp_autosearch_suggestions {
    padding: 0 0 0 0 !important;
    background-color: transparent !important;
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3) !important;
    border: 1px solid #ccc !important;
    border-radius: 5px;
    margin-top: 20px;
    max-width: 278px !important;
    width: 100% !important;
}

.wp_autosearch_suggestions ul {
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px !important;
    background-color: #fff;
}

.wp_autosearch_suggestions li {
    margin-bottom: 5px !important;
}

.wp_autosearch_suggestions li:hover a {
    background: #f1f1f1 !important;
}

.wp_autosearch_suggestions li:hover .wp_autosearch_category,
.wp_autosearch_suggestions li:hover .wp_autosearch_more {
    background: transparent !important;
}

.wp_autosearch_suggestions li:first-child a {
    padding-top: 0 !important;
    margin-top: 0 !important;
    height: auto !important;
    padding-bottom: 15px !important;   
}

.wp_autosearch_suggestions li:last-child {
    margin: 10px auto 0 auto !important;
    width: 100%;
    display: inline-block;   
}

.wp_autosearch_suggestions li:last-child a {
    padding: 0 0 5px !important;
    margin: 0 !important;
    height: auto !important;
    border-bottom: 2px solid #000;
    text-transform: uppercase;
    display: inline-block;
}

.wp_autosearch_suggestions a {
    padding: 0;
    height: 50px;
}

.wp_autosearch_suggestions a span {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.wp_autosearch_suggestions a img {
    padding: 0 !important;
    margin: 0 10px 0 0 !important;
}

.wp_autosearch_suggestions .wp_autosearch_category {
    background-color: #fff !important;
    color: #000 !important;
    font-size: 16px !important;
    padding: 15px 0 10px !important;
    border-bottom: 1px solid #999999;
    margin: 10px 0 !important;
    font-weight: bold !important;
}

.wps_even, .wps_odd {
    background-color: #fff !important;
}

.wp_autosearch_suggestions .wps_odd a {
    background-color: transparent;
    color: #000 !important;
    font-weight: bold;
    margin: 0;
}

.wp_autosearch_suggestions .wp_autosearch_more {
    background-color: #fff !important;
    color: #000 !important;
    position: relative;
    padding: 10px 20px !important;
    display: block;
    font-weight: normal;
}

/* .wp_autosearch_suggestions .wp_autosearch_more:after {
    content: "\f105";
    font-family: FontAwesome;
    right: 20px;
    position: absolute;
    font-size: 15px;
} */

.ac_over, .ac_over a, .ac_over a span {
    color: #000 !important;
}

/********************/
/****** FILTER ******/
/********************/

.filters {
    display: block;
    margin: 0 auto;
    color: #999999;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
    left: inherit;
}

.filters ul {
    list-style: none;
    margin: 0 40px 0 0;
    padding: 0;
    display: inline-block;
}

.filters > ul li {
    display: inline-block;
}

.filters ul li a {
    color: inherit;
    font-size: inherit;
    text-decoration: inherit;
    font-weight: inherit;
    
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.filters ul li:hover a {
    color: #000;
}

.filters > ul li a.active {
    color: #000;
}

.filters .dropdown {
    margin: 0 40px 0 0;
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
    color: #000;
    padding: 0;
    background: #fff;
    position: relative;
}

.filters .dropdown > ul {
    font-size: 14px;
    line-height: 27px;
    opacity: 1;
    position: absolute;
    background: #fff;
    z-index: 9999;
    padding: 20px;
    max-height: 200px;
    text-align: left;
    left: -20px;
    right: -20px;
    overflow-y: scroll;
    width: max-content;
    
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5) !important;
    border: 1px solid #999999 !important;
    border-radius: 5px;
    
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    
    display: none;
}

.filters .dropdown:hover > ul {
    display: block;
}

.filters .dropdown ul li a {
    color: #999;
}

.filters .dropdown ul li .tag-letter {
    background-color: #fff !important;
    color: #000 !important;
    padding: 0 !important;
    border-bottom: 1px solid #999999;
    margin: 5px 0 5px;
    font-weight: bold !important;
    display: block;
    text-transform: uppercase;
}

.filters .dropdown ul li:first-child() .tag-letter {
    margin-top: 0 !important;
}

.filters .dropdown ul li:hover a {
    color: #000;
}

#pagination a {
    color: #000;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    position: relative;
    display: inline-block;
    border: 1px solid #222000 !important;
    background-color: transparent;
    border-radius: 50px !important;
    
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#pagination > div {
    display: inline-block;   
    margin-top: 20px;
}

#pagination .page_next {
    float: right;
}

#pagination .page_next a {
    padding: 10px 50px 10px 25px;
}

#pagination .page_next a:hover {
    padding-right: 60px
}

#pagination .page_prev {
    float: left;
}

#pagination .page_prev a {
    padding: 10px 25px 10px 50px;
}

#pagination .page_prev a:hover {
    padding-left: 60px
}

#pagination .page_next a:after {
    content: "\f105";
    font-family: FontAwesome;
    position: absolute;
    z-index: 99;
    font-weight: 300;
    font-size: 20px;
    right: 20px;
}

#pagination .page_prev a:before {
    content: "\f104";
    font-family: FontAwesome;
    position: absolute;
    z-index: 99;
    font-weight: 300;
    font-size: 20px;
    left: 20px;
}

/********************/
/******* GRID *******/
/********************/

.grid {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-size: 0;
}

.grid .col {
    display: inline-block;
    list-style: none;
    width: 100%;
    margin: 0 15px 15px 0;
    box-sizing: border-box;
    text-align: left;
    color: #fff;
    position: relative;
    background-size: cover !important;
    overflow: hidden;
    
    
    vertical-align: top;
    font-size: 16px;
    float: left;
    
    width: 200px;
    height: 200px;
}

.grid .col:before {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    content: "";
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.grid .col:hover:before {
    background: rgba(0,0,0,0.4);
}

.grid .col-1-6:nth-child(6n) {
    float: right;
    margin-right: 0;
}

.grid .col div {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
}

.grid .col .name {
    position: absolute;
    top: -30px;
    left: 15px;
    z-index: 140;
}

.grid .col:hover .name {
    top: 10px;
    opacity: 1;
}

.grid .col .likes {
    position: absolute;
    bottom: -20px;
    left: 15px;
    z-index: 150;
}

.grid .col:hover .likes {
    bottom: 5px;
    opacity: 1;
}

.grid .col .category {
    position: absolute;
    bottom: -30px;
    right: 15px;
    z-index: 150;
    
    width: 1.2vw;
    max-width: 17px;
    min-width: 0.5vw;
}

.grid .col:hover .category {
    bottom: 5px;
    opacity: 1;
}

.grid .col a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 145;
}

/********************************/
/******* LISTING SPECIFIC *******/
/********************************/

.single article {
    
}

.single .details {
    max-width: 30%;
    width: 100%;
    vertical-align: top;
    display: inline-block;
    float:left;
}

.single .details .col-1-2 {
    max-width: 45%;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-right: 4%;
}

.single .details .title {
    display: inline-block;
}

.single-report .title {
    display: block;
}

.single .details .category,
.single-report .category {
    position: absolute;
    z-index: -1;
    max-width: 75px;
    top: 10px;
    width: 100%;
    height: 70px;
    vertical-align: top;
    display: inline-block;
}

.single .details .category svg polygon,
.single .details .category svg circle,
.single-report .category svg rect {
    stroke: #e3e3e5;
}

.single .details .title h1,
.single-report .title h1 {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 30px 30px;
    line-height: normal;
}

.single .details .thumbnail {
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #cdcdcd !important;
    max-width: 250px;
    margin: 0 auto;
}

.single .details .profile {
    margin-bottom: 30px;
}

.single-report .profile {
    border: 1px solid #000;
    padding: 15px;
}

.single-report .download {
    background: #7f7e7e;
    border-radius: 30px;
    padding: 10px 25px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-bottom: 20px;
}

.single-report .download:hover .fa {
    margin-right: 25px;
}

.single-report .download .fa {
    margin-right: 15px;
}

.single-report .gallery > .title {
    padding: 10px 0;
    margin-bottom: 20px;
}

.single .details .other {
    
}

.single .details .other > div {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.single .details .other li {
    display: block;
    text-align: left;
    margin: 0;
}

.single .details .section .title {
    font-size: 22px;
    margin: 30px auto 10px auto;
    line-height: normal;
}

.single .details ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.single .details ul li {
    display: inline-block;
    margin: 0 20px 20px 0;
    text-align: center;
    font-size: 14px;
}

.single .details .contact ul li {
    margin: 0;
    text-align: left;
    display: block;
}

.single .details .contact ul li a {
    text-align: left;
}

.single .details .contact .icons {
    margin-top: 15px;
}

.single-report .icons li {
    margin: 15px 20px 0px 0 !important;
}

.single .details .contact .icons li {
    display: inline-block;
    margin-right: 20px;
}

.single-report .related {
    border-top: 1px solid #000;
    padding-top: 30px;
    display: block;
}

.single-report .related .title {
    margin-bottom: 15px;
}

.single-report .related ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.single-report .related .profiles {
    max-height: 100px;
    max-width: 80%;
    width: 100%;
    display: inline-block;
    float: left;
    overflow: hidden;
    overflow-x: scroll;
}

.single-report .related .profiles ul li {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: 100% !important;
    background-position: center !important;
    margin-right: 10px;
    
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.single-report .related .profiles ul li:hover {
    background-size: 120% !important;
}

.single-report .related .profiles ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

.single-report .related .keywords {
    display: inline-block;
    max-width: 20%;
    width: 100%;
    float: right;
}

.single-report .related .keywords ul {
    overflow-y: scroll;
}

.single .details ul li a {
    text-decoration: none;
    color: #000;
    text-align: center;
    display: block;
}

.single .details .collaborators .thumbnail {
    width: 100px;
    height: 100px;
    margin: 0 auto 10px auto;
}

.single .details .comments {
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    max-height: 300px;
    overflow-y: scroll;
}

.single .details .comments li {
    font-size: inherit;
    text-align: inherit;
    line-height: inherit;
    margin: 10px 0;
}

.single .details .comments li .author {
    font-style: italic;
    font-weight: bold;
    display: inline-block;
}

.single .details .comments li .author span {
    color: #aaa;
    font-weight: normal;
}

.single .details .related ul li {
    margin: 0 0 2% 0;
    float: left;
    max-width: 32%;
    width: 100%;
}

.single .details .related ul li:nth-child(3n+2) {
    margin-left: 2%;
    margin-right: 2%;
    float: left;
}

.single .details .related ul li:nth-child(3n+3) {
    float:right;
}

.single .details .related ul li .thumbnail {
    
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.thumbnail.square {
    border-radius: 0 !important;   
}

.single .gallery {
    max-width: 60%;
    width: 100%;
    vertical-align: top;
    display: inline-block;
    float:right;
}

.single .gallery ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    font-size: 0;
    display: block;
    width: 100%;
    vertical-align: top
}

.single .gallery ul li {
    display: inline-block;
    vertical-align: top;
    margin: 0 2% 2% 0;
    padding: 0;
    float: left;
    overflow: hidden;
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    height: 33vh;
    max-width: 32%;
}

.single .gallery ul li.featured {
    width: 100%;
    height: 68vh;
    max-width: 66%;
}

.single .gallery ul li:nth-child(2),
.single .gallery ul li:nth-child(3),
.single .gallery ul li:nth-child(3n+3) {
    float: right;
    margin-right: 0;
}

.single .gallery ul li a {
    width: 100%;
    height: 100%;
    display: block;
}

.single .gallery ul li img {
    width: 100%;
    height: auto;
}

/*******************/
/****** POPUP ******/
/*******************/


button.mfp-close, 
button.mfp-arrow {
    opacity: 1;
    width: 30px;
    height: 60px;
}

.mfp-arrow-left {
    left: 50px;   
}

.mfp-arrow-right {
    right: 50px;   
}

.mfp-arrow-right:before {
    background: url('../images/arrow-right.svg') no-repeat;
    width: 30px;
    height: 60px;
    margin: 0;
    padding: 0;
    opacity: 1;
    border: none;
}

.mfp-arrow-right:after {
    display: none;
}

.mfp-arrow-left:before {
    background: url('../images/arrow-left.svg') no-repeat;
    width: 30px;
    height: 60px;
    margin: 0;
    padding: 0;
    opacity: 1;
    border: none;
}

.mfp-arrow-left:after {
    display: none;
}

/********************/
/****** FOOTER ******/
/********************/

.footer{
    width: 100%;
    background: #e3e3e3;
}

.footer-menu {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    
    display: block;
    color: #999999;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    /*
    position: absolute;
    z-index: 999;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
    */

}

.footer-menu .categories {
    margin-right: 40px;
}

.footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.footer-menu > ul li {
    display: inline-block;
}

.footer-menu ul li a {
    color: inherit;
    font-size: inherit;
    text-decoration: inherit;
    font-weight: inherit;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.footer-menu ul li:hover a {
    color: #000;
}

.footer-menu > ul li a.active {
    color: #000;
}
