@media screen and (max-width: 1390px) {

    #page { max-width: 1160px; }

    .grid .col:nth-child(6n)  {
        margin-right: 15px;
        float: left;
    }

    .grid .col:nth-child(5n) {
        margin-right: 0;
        float: right;
    }
    
    .main-navigation {
        max-width: 845px;
    }
    
    .home .filters .dropdown.tags {
        margin-right: 150px;
    }

}

@media screen and (max-width: 1180px) {

    #page { max-width: 945px; }

    .grid .col:nth-child(6n),
    .grid .col:nth-child(5n)
   {
        margin-right: 15px;
        float: left;
    }

    .grid .col:nth-child(4n)
    {
        margin-right: 0;
        float: right;
    }
    
    .site-search {
        display: block;
        clear: both;
    }
    
    .main-navigation {
        max-width: 630px;
    }
    
    .home .filters .categories,
    .home .filters .dropdown.tags,
    .home .filters .dropdown.order {
        margin: 0 40px 0 0;
    }

}

@media screen and (max-width: 960px) {

    body { position: relative; }
    
    .desktop { display: none !important; }
    
    .main-navigation {
        top: 50px;
    }
    
    .main-navigation,
    .main-navigation .menu-full,
    .main-navigation .menu-full li {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
    }
    
    .main-navigation.open {
        top: 0;
        right: 0% !important;
        display: block;
        height: 100%;
        max-width: 50% !important;
        width: 100% !important;
        z-index: 99999;
    }
    
    .main-navigation.open .site-search {
        display:  none;
    }
    
    .main-navigation.open .menu-full {
        position: absolute;
        right: 0;
        width: 100%;
        border-radius: 0;
        display: block !important;
        margin: 0 auto;
        height: 100%;
        padding: 50px;
        background: #e6e6e6;
    }
    
    .main-navigation.open .menu-full li {
        display: block;
        text-align: left;
        margin: 20px auto;
        font-size: 20px;
        font-weight: 300;
        position: static;
    }
    
    .main-navigation.open .menu-btn {
        top: 10px;
        right: 10px;
        position: absolute;
    }
    
    .main-navigation.open .menu-full li.mobile {
        display: block !important;
        height: auto !important;
    }
    
    .main-navigation.open .menu-full li.mobile .profile-btn {
        float: none;
        padding: 0;
    }
    
    .main-navigation.open .menu-full li.mobile .site-search {
        display: block;
        width: 100%;
        float: none !important;
        position: static;
    }
    
    .main-navigation.open .menu-full li.mobile .wp_autosearch_form_wrapper {
        background-color: transparent !important;
    }
    
    .main-navigation.open .menu-full li.mobile .wp_autosearch_form_wrapper input {
        float: none !important;
        width: 100% !important;
        border: 1px solid #222000 !important;
        background: #e6e6e6 !important;
    }
    
    
    #page { max-width: 730px; }

    .grid .col:nth-child(6n),
    .grid .col:nth-child(5n),
    .grid .col:nth-child(4n)
    {
        margin-right: 15px;
        float: left;
    }

    .grid .col:nth-child(3n) {
        margin-right: 0;
        float: right;
    }
    
    .site-header {
        margin-bottom: 65px;
        position: static;
    }

    .filters {
        font-size: 18px;
        margin: 0px auto;
        left: 0;
        right: 0;
        text-align: left;
        bottom: inherit;
        top: 255px;
    }

    .filters > div {
        text-align: left !important;
    }

    .filters .dropdown {
        margin: 0 30px 0 0;
    }
    
}

@media screen and (max-width: 900px) {

    .site-title {
        display: none;
    }
    
    .grid {
        margin: 0 auto;
    }

    .single .details .title h1, 
    .single-report .title h1 {
        font-size: 1.5em;   
    }

    .single .details .title h1, 
    .single-report .title h1 {
        margin: 0 0 30px 0;   
    }

    .single .details .col-1-2 {
        display: block;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .single .details .other > div {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .single .details ul li {
        margin: 0 10px 20px 0;   
    }

    .single .details .collaborators .thumbnail {
        width: 75px;   
    }

    .single .gallery ul li:nth-child(2), 
    .single .gallery ul li:nth-child(3), 
    .single .gallery ul li:nth-child(3n+3) {
        float: left;
        margin: 0 1% 2% 0;
    }

    .single .gallery ul li,
    .single .gallery ul li.featured {
        max-width: 49%;
        width: 100%;
        float: left;
        margin: 0 1% 2% 0;
    }

    .single .gallery ul li:nth-child(even) {
        float: right;
        margin: 0 0 2% 1%;   
    }

}

@media screen and (max-width: 750px) {
    
    #page { max-width: 515px; }
    
    .site-header {
        margin-bottom:0;   
    }
    
    .filters {
        position: static;
        margin: 20px 0;
    }
    
    .filters > div {
        margin: 0 !important;
    }

    .grid .col:nth-child(6n),
    .grid .col:nth-child(5n),
    .grid .col:nth-child(4n),
    .grid .col:nth-child(3n){
        margin-right: 15px;
        float: left;
    }

    .grid .col:nth-child(2n) {
        margin-right: 0;
        float: right;
    }

}

@media screen and (max-width: 600px) {
    
    .main-navigation.open {
        max-width: 70% !important;   
    }
    
    .single .details .related ul li {
        margin: 0 0 2% 0;
        float: left;
        max-width: 49%;
        width: 100%;
    }

    .single .details .related ul li:nth-child(3n+2),
    .single .details .related ul li:nth-child(3n+3) {
        float: left;
        margin: 0 2% 2% 0;
    }

    .single .details .related ul li:nth-child(2n+2) {
        float:right;
        margin: 0 0 2% 2%;
    }

    .single .gallery ul li {
        display: block !important;
        max-width: 100% !important;
        float: none !important;
        margin: 0 0 10px 0 !important;
    }

    .footer-menu .categories {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        line-height: normal;
    }

    .footer-menu > ul li {
        display: inline-block;
        font-size: 16px;
    }

}

@media screen and (max-width: 530px) {

    #page { max-width: 100%; }

    .grid .col {
        margin: 0 !important;
        float: none !important;
        width: 100%;
        height: auto;
        max-width: 50%;
    }

}

@media screen and (max-width: 500px) {

    .main-navigation.open {
        max-width: 100% !important;   
    }

    .single .details .related ul li {
        margin: 0 0 2% 0;
        float: left;
        max-width: 32%;
        width: 100%;
    }

    .single .details .related ul li:nth-child(2n+2) {
        float:left;
        margin: 0 0 2% 0;
    }

    .single .details .related ul li:nth-child(3n+2) {
        margin-left: 2%;
        margin-right: 2%;
        float: left;
    }

    .single .details .related ul li:nth-child(3n+3) {
        float:right;
        margin: 0 0 2% 0;
    }

    .single .details .category, 
    .single-report .category {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .single .details,
    .single .gallery {
        display: block;
        max-width: 100%;
        float: none;
        margin-bottom: 0;
        text-align: center;
    }


    .single .details li,
    .single .details .contact ul li a {
        text-align: inherit !important;
    }

    .single .details .other .keywords,
    .single .details .other .mentioned {
        text-align: left !important;
    }

}
