<div class="clear"></div>
<hr>

<h1>
    <strong><?php echo CMCR_NAME; ?> Pro Version</strong>
</h1>

<p>
    If you like the <?php echo CMCR_NAME; ?> but you're missing some features, probably you can find it in the Premium version.
    <br/>
    We have prepared lists of features which you can find in the Premium version of <a title="<?php echo CMCR_NAME; ?>" href="https://plugins.cminds.com/cm-on-demand-search-and-replace-plugin-for-wordpress/"><?php echo CMCR_NAME; ?></a>.
</p>

<div class="clear"></div>

<br/><br/>

<h2>Features (Pro Version Only)</h2>

<ul>
    <li><strong>Includes CSV export</strong> - except of exporting to PDF this version allows to export the data as the CSV</li>
    <li><strong>Includes reports scheduling</strong> - you can schedule each report separately and have it sent to your e-mail automatically</li>
    <li><strong>Includes Email Templates</strong> - you can prepare multiple e-mail templates for your reports and switch between them whenever you like</li>
    <li><strong>Includes sent reports log</strong> - plugin logs all of the scheduled reports, so even if you delete the e-mail you can still see the old reports</li>
</ul>

<h1><strong>Purchase </strong></h1>
<p>You can purchase the Pro version <a class="button button-primary" href="https://plugins.cminds.com/cm-custom-reports-plugin-for-wordpress/">Here</a></p>